name: GitHub Pages

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch: {}

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-22.04
    env:
      DTC_HEADLESS: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-ruby@v1
      - name: Setup docToolchain
        run: chmod +x dtcw
      - name: Migrate Markdown based ADRs from adr-tools to AsciiDoc
        run: ./dtcw exportMarkdown && cp ./build/adrs/*.adoc ./documentation/adrs/
      - name: Generate Microsite
        run: ./dtcw exportStructurizr generateSite
      - name: Copy microsite to public
        run: cp -r ./build/microsite/output ./public
      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-22.04
    needs: build
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
